/* 1. Import Tailwind v4 Engine */
@import "tailwindcss";

/* 2. Import Font Quicksand agar estetik */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700;800&display=swap');

/* 3. Konfigurasi Tema (Variabel Warna & Font) */
@theme {
  --font-sans: "Quicksand", "Nunito", sans-serif;
  --color-soft-pink: #FFF0F3;
  --color-deep-pink: #FB6F92;
}

/* 4. Global Style & Custom Scrollbar */
body {
  font-family: var(--font-sans);
  background-color: var(--color-soft-pink);
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #FFF5F7;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #FFB3C1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #FB6F92;
}